html {
    height: 100%;
}

body {
    background-color: #1E392A;
    display: flex;
    margin: 0;
    height: 100%;
    color: white;
}

.sidebar {
    background-color: #1b1b1b;
    max-width: 16rem;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.sidebar__title {
    font-size: 1.8rem;
    margin: auto;
    text-align: center;
    padding: 1rem;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu-section__title {
    text-align: center;
    background-color: #292929;
    padding-top: .236rem;
    padding-bottom: .236rem;
}

.menu-section__content {
    padding: 1.5rem 1rem 1.5rem 1rem;
}

.menu__btn {
    margin-top: .236rem;
    width: 100%;
}

.config {
    display: flex;
    flex-direction: column;
    gap: .236rem;
    margin-bottom: 1rem;
}

.config__item {
    display: flex;
    justify-content: space-between;
    gap: .236rem;
}

.court {
    width: 425px;
    height: 850px;
    margin: auto;
    border: 1px solid white;
    position: relative;
}

.court-dividers {
    display: flex;
    flex-direction: column;
    height: 100%;
}

[id^="court-div-"] {
    display: flex;
    height: 100%;
    width: 100%;
}

#court-div-2 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#court-div-2-1 {
    border-right: 1px solid white;
}

#court-div-3 {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}

#court-div-3-1 {
    border-right: 1px solid white;
}

#court-div-4-1:hover {
    background-color: gray;
}

#court-div-4-2:hover {
    background-color: gray;
}

#ball {
    position: absolute;
    top: -10px;
    left: 202px;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: #FFD700;
    margin: auto;
}

.scoreboard {
    margin-top: 1rem;
}

#scoreboard {
    width: 100%;
    text-align: center;
}

#avg {
    width: 100%;
    text-align: center;
    margin-top: 1rem;
    font-weight: bold;
}